/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

#header {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #2b2b2b;
  height: 75px;
}
#header h1 {
  position: absolute;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 25px;
  font-weight: bold;
}
#header li {
  display: inline;
  padding: 10px;
  border: 1px solid gold;
  border-radius: 5px;
  margin: 30px;
}
#header ul {
  padding-left: 0;
  padding-top: 25px;
  list-style-type: inside;
  text-align: right;
}
#header a {
  text-decoration: none;
  color: white;
}

#presentation {
  font-family: "Roboto", sans-serif;
  margin: 25px;
}
#presentation h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
#presentation p {
  display: block;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

#experiences {
  font-family: "Roboto", sans-serif;
  margin: 25px;
}
#experiences h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
#experiences .expe_center {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#experiences .expe_center #image {
  width: 300px;
  height: 300px;
}
#experiences .expe_center #expe_text {
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  width: 500px;
  vertical-align: auto;
}
#experiences .expe_center #expe_text h1 {
  font-size: 25px;
}

#projets {
  font-family: "Roboto", sans-serif;
  margin: 25px;
}
#projets h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
#projets h2 {
  font-size: 40px;
  margin-left: 40px;
}
#projets #project {
  margin-left: 40px;
  margin-top: 10px;
}
#projets #project pre {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  max-width: 1200px;
  text-align: justify;
  text-justify: inter-word;
}
#projets #project #pres {
  display: flex;
  justify-content: center;
}
#projets #project #pres #projcenter {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
#projets #project #pres #projcenter img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#projets #project #pres #projcenter p {
  font-size: 15px;
  max-width: 300px;
}
#projets #project #pres #projcenter img#link {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0%;
  margin-top: -20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
