#experiences {
  font-family: "Roboto", sans-serif;
  margin: 25px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .expe_center {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    #image {
      width: 300px;
      height: 300px;
    }
    #expe_text {
      padding-left: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
      max-height: 300px;
      width: 500px;
      vertical-align: auto;

      h1 {
        font-size: 25px;
      }
    }
  }
}
