#header {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgb(43, 43, 43);
  height: 75px;

  h1 {
    position: absolute;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
  }

  li {
    display: inline;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 5px;
    margin: 30px;
  }

  ul {
    padding-left: 0;
    padding-top: 25px;
    list-style-type: inside;
    text-align: right;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
