#projets {
  font-family: "Roboto", sans-serif;
  margin: 25px;

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 40px;
    margin-left: 40px;
  }

  #project {
    margin-left: 40px;
    margin-top: 10px;

    pre {
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      margin-top: 10px;
      font-size: 16px;
      max-width: 1200px;
      text-align: justify;
      text-justify: inter-word;
    }

    #pres {
      display: flex;
      justify-content: center;
      #projcenter {
        margin: 0 auto;
        padding-top: 50px;
        text-align: center;
        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
        }
        p {
          font-size: 15px;
          max-width: 300px;
        }

        img#link {
          height: 50px;
          width: 50px;
          display: inline-block;
          vertical-align: top;
          border-radius: 0%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
